nav {
    background-color:cornflowerblue;
    position: sticky;
    top: 0;
    width: 100%;
    div {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        font-size: 26px;
        color: black;
        text-align: center;
        font-family: 'Calibri';
        font-weight: bold;
    }
    border-radius: 2%;
}